@model pesquisa.Models.ViewModels.pbhxmlprestlog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>pbhxmlprestlog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mes_de_vigencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mes_de_vigencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sucesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sucesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade_de_nfs_baixadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade_de_nfs_baixadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade_de_nfs_processadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade_de_nfs_processadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tempo_execucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tempo_execucao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
