@model pesquisa.Models.Pbhxmlprestlistfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pbhxmlprestlistfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.caminho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.caminho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idFilial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idFilial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
